target/
logs/
*.class
build
.settings/
.project
.apt_generated
.factorypath
sql/
admin-logs/
.springBeans
.classpath
src/main/resources/rebel.xml
src/main/resources/jdbc1.properties
*.iml
src/main/java/*.sql
*.md
.idea/

