@CHARSET "UTF-8";
.div{
	margin: 0 auto;
	text-align: center;
	background-color: gray;
	height: 200px;
	width: 200px;
	margin-top: 100px;
	
}
.title{
	background-color: black;
	color:white;
	text-align: center;
}
.aa{
	width: 195px;
	height: 25px;
	
}
.login{
	height: 25px;
	width: 80px;
	background-color: aqua;
	margin-bottom: -20px;
}
.reg{
	height: 25px;
	width: 80px;
	background-color: aqua;
	margin-bottom: -20px;
}
.div2{
	margin: 0 auto;
	text-align: center;
	background-color: gray;
	height: 330px;
	width: 320px;
	margin-top: 100px;
}
.reg1{
	height: 30px;
	width: 280px;
	background-color: aqua;
	margin-bottom: -20px;
}
.sex{
	margin-left:-50px;
	
}
.show{
	height: 15px;
	width: 70px;
}
.showSelect{
	height: 22px;
	width: 90px;
}
.table{
	margin-top: 20px;
	width: 840px;
}
.main{
	width: 840px;
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
}
.contend{
	width: 840px;
	text-align: center;
	margin: 0 auto;
	margin-left: -5px;
}
