<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ytj.ssm.dao.StudentDao">

	<sql id="sql_where">
		<if test="studentNo != null and studentNo !=''">
			and studentNo like concat('%',#{studentNo},'%')
		</if>
		<if test="name != null and name !=''">
			and name like concat('%',#{name},'%')
		</if>
		<if test="profession != null and profession !=''">
			and profession like concat('%',#{profession},'%')
		</if>
		<if test="sex != null ">
			and sex = #{sex}
		</if>
		<if test="age != null ">
			and age = #{age}
		</if>
	</sql>
	<select id="studentByName" parameterType="int" resultType="com.ytj.ssm.model.StudentModel">
		select * from student where id = 1
	</select>

	<select id="queryAllCount" resultType="Integer">
		select count (*) from tb_student
		where status = 1
		<include refid="sql_where"></include>
	</select>
	<select id="queryAll" resultType="com.ytj.ssm.model.StudentModel">
		select * from tb_student
		where status = 1
		<include refid="sql_where"></include>
		limit page,pageSize
	</select>

</mapper>